{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="content-header">{{ form.title }}</h2>
        <p class="content-sub-header">{{ form.description }}</p>
    </div>
</div>
    <div class="row">
    <div class="col-sm-12">
        <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-warning">
                        <h4 class="card-title">{{ form.title }}</h4>
                    </div>
                    <p>{{ form.description }}</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                      {% crispy form %}
                    </div>
                </div>
            </div>
    </div>
    </div>

{% endblock %}